@main-color: #f188f2;

@main-text: #fff;
@main-text-size: 16px;

@fz10: 0.63rem;
@fz12: 0.75rem;
@fz14: 0.88rem;
@fz16: 1rem;
@fz18: 1.13rem;
@fz20: 1.25rem;
@fz24: 1.5rem;
@fz26: 1.63rem;
@fz28: 1.75rem;
@fz32: 2rem;
@fz40: 2.5rem;

@hover-color-grey: #7c7c7c;

.font-size(@fs, @mc: @main-text) {
  font-size: @fs;
  color: @mc;
}
