.basket-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (max-width: @mobile-width) {
    min-width: 100%;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) and (max-width: 999px) {
    width: 90%;
  }

  @media (min-width: 1000px) and (max-width: 1439px) {
    flex-basis: 65%;
    padding: 0 15px;
  }
}

.basket-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: @mobile-width) {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.basket-list__item-container {
  flex-basis: 25%;
  height: auto;
}

.basket-list__img {
  width: 100%;
  min-width: 150px;
  height: auto;
}

.basket-list__item-img-cont {
  font-size: @fz16;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.basket-list__price-item-cont {
  box-sizing: border-box;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 3;

  @media (max-width: @mobile-width) {
    min-width: 100px;
  }
}

.basket-list__item-number {
  margin-right: 25px;
}


.basket-list__price-item-total {
  font-size: @fz40;
  font-weight: 600;

  @media (max-width: @mobile-width) {
    font-size: @fz20;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    font-size: @fz28;
  }
}

.basket-list__price-cancel {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.basket-list__item-desc {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: space-around;
  align-items: baseline;
  height: 100%;
  max-width: 50%;
  flex-basis: 25%;

  @media (max-width: @mobile-width) {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    min-height: 100px;
    flex-basis: 60%;
    max-width: none;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    padding: 0 15px;
    min-width: 300px;
  }
}

.basket-list__item-price {
  font-size: @fz24;
  font-weight: 600;

  @media (max-width: @mobile-width) {
    font-size: @fz18;
  }
}

.basket-list__price-item-cont-wrapper {
  display: flex;
  align-items: baseline;
}

.basket-list__item-old-price {
  color: #8b8b8b;
  font-size: @fz16;
  font-weight: 500;
  margin-left: 20px;

  @media (max-width: @mobile-width) {
    font-size: @fz10;
  }
}

.basket-list__item-par {
  color: #3a3a3a;
  font-size: @fz16;
  font-weight: 600;
  width: 100%;
  margin: 10px 0;

  @media (max-width: @mobile-width) {
    max-width: 70%;
    font-size: @fz18;
  }
}

.basket-list__item-article {
  font-size: @fz14;
  font-weight: 500;
  color: #888888;

  @media (max-width: @mobile-width) {
    font-size: @fz10;
  }
}

.basket-list__item-code {
  font-size: @fz14;
  font-weight: 500;
  margin-left: 20px;

  @media (max-width: @mobile-width) {
    font-size: @fz10;
    margin-left: 0;
  }
}

.basket-list__item-button {
  .list-reset;
  border: none;
  background-color: transparent;
}

.basket-list__item-price-wrapper {
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20%;
  min-height: 80px;

  @media (max-width: @mobile-width) {
    flex-direction: row;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    min-height: 100px;
  }
}

.basket-list__item-buttons-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;

  @media (max-width: @mobile-width) {
    max-width: 100px;
    padding: 0 15px;
  }
}


.basket-list__item-count {
  width: 50px;
  box-sizing: border-box;
  border: none;
  font-size: @fz24;
  font-weight: 600;
  text-align: center;
}

.basket-list__item-button-minus {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url("../../img/minus.svg");
  background-position: center;
  background-repeat: no-repeat;

  width: 25px;
  height: 25px;
}

.basket-list__item-button-plus {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("../../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}


.basket-list__item-procent {
  color: #c949ca;
  margin-left: 10px;

  @media (max-width: @mobile-width) {
    margin-left: 0;
    font-size: @fz10;
  }
}


.basket-list__item-count-product {
  @media (max-width: @mobile-width) {
    margin-left: 0;
  }
}
