.contacts-nav {
  display: flex;
  min-width: 400px;
  justify-content: space-between;

  @media (max-width: @mobile-width) {
    display: none;
  }
}

.contacts-nav-links-list {
  min-width: 400px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    font-size: @fz14;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding: 0 30px;
  }
}

.contacts-nav-links-list__item {
  display: flex;
  flex-direction: column;
}

.contacts-nav-links-list__phone {
  color: #000000;
  position: relative;

  &::before {
    width: 11px;
    height: 5px;
    position: absolute;
    content: "";
    left: -16px;
    top: 7px;
    background-image: url("../../img/Rectangle-tel.svg");

    &:hover {
      background-color: @hover-color-grey;
    }
  }

  &:hover {
    color: @hover-color-grey;
  }
}

.contacts-nav-links-list__img {
  &:hover {
    color: @hover-color-grey;
  }
}
