.popup {
  width: 50vw;
  max-height: 315px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid @main-color;
  border-radius: 15px;
  text-align: center;

  @media (max-width: @mobile-width) {
    margin-top: 70px;
    height: 20vh;
  }
}

.popup__title {
  font-size: 52px;
  font-weight: 700;

  @media (max-width: @mobile-width) {
    font-size: @fz28;
  }

  @media (min-width: @tablet-width) and(max-width: 1000px) {
    font-size: @fz40;
  }
}

.popup__desc {
  font-size: @fz24;
  font-weight: 500;
}

.popup__button {
  min-width: 50%;
  min-height: 71px;
  color: #c949ca;
  background-color: #fff3ff;
  border: 1px solid #c949ca;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: @mobile-width) {
    min-height: 45px;
  }

  &:hover {
    background-color: #c949ca;
    color: rgb(255, 255, 255);
  }

  &:active {
    background-color: #cc00cc;
  }
}
