.price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: @mobile-width) {
    display: none;
  }
}

.price-container__title {
  font-size: 28px;
  font-weight: 600;
}

.price-container__compound {
  margin-bottom: auto;
}
