.product-page {
  display: flex;

  @media (max-width: @mobile-width) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.product-page__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (max-width: @mobile-width) {
    width: 100%;
    flex-direction: row;
  }
}

.product-page__big-photo-container {
  @media (max-width: @mobile-width) {
    display: none;
  }
}

.product-page__img-size {
  @media (min-width: @desktop-width) {
    width: 114px;
    height: 114px;
  }
}

.product-page__big-photo {
  border-radius: 20px;
}


.product-page__photo-button {
  box-sizing: border-box;
  background-color: transparent;

  @media (max-width: @mobile-width) {
    min-width: 100px;
    min-height: 30px;
  }
}

.product-page__photo {
  box-sizing: border-box;
  width: 250px;
  height: 309px;

  @media (min-width: @desktop-width) {
    width: 114px;
    height: 114px;
  }
}


.product-page__item--active {
  border: 3px solid #c949ca;
  border-radius: 7px;
}

.product-page__item {
  @media (max-width: @mobile-width) {
    margin: 0 35px;
  }
}
