.store-nav-links-list {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.store-nav-links-list__item:not(:first-child) {
  margin-left: 40px;
}

.store-nav-links-list__item {
  display: flex;
  flex-direction: column;

  &:hover {
    color: @hover-color-grey;
  }
}

.store-nav-links-list__work-hours {
  &:first-child {
    @fz12: 10px;
  }

  &:last-child {
    font-size: @fz14;
  }
}

.store-nav-links-list__phone {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  position: relative;

  &:hover {
    color: @hover-color-grey;
  }
}

.store-nav-links-list__img {
  &:hover {
    color: @hover-color-grey;
  }
}
